@charset "UTF-8";
.title{
	padding-top: 50px;
	font-size: medium;
	color: #242038;
	margin-right: 150px;
	
}
table {
	display: flex;
	display: -webkit-box;
	overflow-x: auto;
	overflow-y: hidden;
	border: none;
	box-shadow: 0 2px 5px #cac4ce;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#thead {
	color: white;
	background-image: linear-gradient(-225deg, #9067c6 0%, #8d86c9 100%);
	font-size: 16px;
}

tbody {
	display: flex;
	align-items: center;
}

th, td {
	display: block;
}

.report {
	height: calc(100vh - 365px);
	width: 100%;
	position: relative;
}

.report form {
	top: 50%;
	width: 580px;
	margin: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

#r_reason {
	border: 1px solid #FFFFFF;
	outline: none;
	font-size: 15px;
}

.wrap form .input {
	display: block;
	width: 69%;
	height: 50px;
}

h1 {
	margin-bottom: 15px;
}

.input {
	padding: 0px 40px;
	margin: 10px 0;
	border: solid 1px #242038;
	border-radius: 10px;
}

.boxright a {
	margin: 0px 13px;
	color: #242038;
}

input#submit {
	width: 200px;
	background-color: #8d86c9;
	border: 0;
	font-size: 16px;
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition-duration: 0.4s;
	margin: 30px 0px 0px 175px;
}

input#submit:hover {
	color: 242038;
	background-color: #cac4ce;
}

th {
	padding: 45px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
}

td {
	font-size: 15px;
	padding: 45px;
	border: none;
	vertical-align: middle;
	color: #242038;
}

input[type="file"] {
    font-size: 15px;
}

input#otherreason {
    display: block;
    outline: none;
    border: 1px solid #cac4ce;
    border-radius: 5px;
    width: 270px;
    padding: 10px;
    height: 30px;
    margin-top: 20px;
}
