@charset "UTF-8";


.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

table {
	border: 1px #cac4ce solid;
	width: 1200px;
	box-shadow: 0 2px 5px #cac4ce;
	border-collapse: collapse;
	border-radius: 5px;
    overflow: hidden;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 50px;
}


th{
  width: 200px;
  color: #242038;
  font-size: 15px;
  text-align: center !important;
  padding: 16px 37px !important;
  vertical-align: middle !important;
  font-family: 'Nanum Gothic', sans-serif !important;
}

 td {
  font-size: 15px !important;
  padding: 5px 0px 5px 8px !important;	
  vertical-align: middle !important;
  font-family: 'Nanum Gothic', sans-serif !important;
  color:#242038 !important;
}

select{
	outline: none !important;
    border: none !important;
    box-sizing: border-box !important;
    padding-left: 40px !important;	
}

#file{
	padding-left: 40px;	
}

#input{
	outline: none;
    border: none;
    width: 1000px;
    box-sizing: border-box;
    padding-left: 44px;	
    padding-right: 40px;	
    resize: none;
}

a {
  color:#242038;
	font-weight: 400;
}

.button.button {
  width: 300px;
  background-color: #8d86c9;
  border: 0;
  font-size: 15px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin: 25px 0;
  margin-left: 420px;
}

.button.button:hover {
  color: 242038;
  background-color: #cac4ce;
}