@charset "UTF-8";

table {
	border: 1px #cac4ce solid;
	width: 1200px;
	box-shadow: 0 2px 5px #cac4ce;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#thead {
	color: white;
	background-image: linear-gradient(-225deg, #9067c6 0%, #8d86c9 100%);
	font-size: 15px;
	text-align: left;
}

th {
	padding: 16px 8px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #9067c6;
}

td {
	font-size: 14px;
	padding: 5px 0px 5px 8px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
	color: #242038;
	border-bottom: 1px solid #242038;
}

a {
	color: #242038;
	font-weight: 400;
}

#tfoot {
	text-align: center;
	margin: 40px 0;
}

.board_notic {
	line-height: 100px;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
}

.button.button {
	width: 135px;
	background-color: #8d86c9;
	border: 0;
	font-size: 15px;
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition-duration: 0.4s;
	position: absolute;
	bottom: 25px;
	right: 0px;
}

.button.button:hover {
	color: 242038;
	background-color: #cac4ce;
}

.board_write {
	float: right;
	position: relative;
}