@charset "UTF-8";

table {
	border: 1px #cac4ce solid;
	width: 1200px;
	box-shadow: 0 2px 5px #cac4ce;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#thead {
	color: #242038;
	font-size: 15px;
	text-align: left;
}

th {
	padding: 16px 8px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
}

td {
	font-size: 14px;
	padding: 5px 0px 5px 8px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
	color: #242038;
	border-bottom: 1px solid #242038;
}

a {
	color: #242038;
	font-weight: 400;
}

#tfoot {
	text-align: center;
	margin: 40px 0;
}

.board_notic {
	line-height: 100px;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
}

.board_img{
	width: 25px;
}
	

.button.button {
	background-color: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 40px;
}

.board_write {
	float: right;
	position: relative;
}

.boardpage_top{
	width: 100%;
	height: 73px;
}

.board_notic{
	width: 800px;
	height: 50px;
	border: 3px solid #9067c6;
	color: #242038;
	text-align: center;
	line-height: 50px;
    margin-top: 30px;
    margin-left: 185px;
    border-radius: 10px;
}