@charset "UTF-8";


table {
    width: 1200px;	
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px solid #cac4ce;
    text-align: left;
    margin-top: 30px;	
}

th#a{
	font-size: 13px;
	color: #9067c6;
}

th#b{
	font-size: 30px;
	padding-bottom: 15px;
}

th#c{
	font-size: 14px;
	color: #cac4ce;
	font-weight: 400;
	text-align: left;
	padding-bottom: 5px;
}

#d{
 	padding: 50px 0;
}

#e{
    outline: none;
    border: 1px solid #cac4ce;
    font-size: 15px;
    padding: 7px 20px;
    width: 150px;
    margin-bottom: 5px;
}

#f{
	resize: none;
    outline: none;
    border: 1px solid #cac4ce;
    width: 900px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 30px;
}

td{
	 font-size: 14px;
 	 color:#242038;
}

.button.button {
  width: 135px;
  background-color: #8d86c9;
  border: 0;
  font-size: 15px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin: 30px 15px;
}

.button.button:hover {
  color: 242038;
  background-color: #cac4ce;
}

.reply{
	border-top: 1px solid #cac4ce; 
}

#detail_img, #detail_sss, #detail_ttt{
	width: 22px;
}

.detail_button{
	background-color: transparent;
	cursor: pointer;
	border: none;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	padding-left: 20px;
}

.detail_write{
	display: flex;
	justify-content: center;
}