@charset "UTF-8";

li {list-style: none;}
a { text-decoration: none; }

.container{
	width: 500px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.find{
	height: calc(100vh - 365px);
    width: 100%;
    position: relative;
}

.container{
    top: 50%;
    width: 380px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
	padding: 0px 40px;
    margin: 10px 0;
    border: solid 1px #242038;
    display: block;
 	width: 69%;
  	height: 50px;
}

.button.button {
  width: 90%;
  background-color: #9067c6;
  border: 0;
  font-size: 15px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin-top: 7px;
}

.button.button:hover {
  color: 242038;
  background-color: #cac4ce;
}

#id_find, #pw_find{
	display: none;
}
