@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a { text-decoration: none;}

h3{
	color: #242038;
}

#main_body{
	margin-top: 60px;
	margin-bottom: 30px;
}

.main_board {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.board{
	width: 280px;
	height: 300px;
	border: 3px solid #cac4ce;	
	border-radius: 40px;
	padding: 35px 30px 35px 50px;
	margin-top: 70px;
}
.board:last-child{
	margin-bottom: 70px;
}

.board a{
	float: right;
	color:  #cac4ce;
}

.input{
	padding: 10px 30px;
    width: 140px;
    height: 15px;
    outline: none;
  	border: none;
  	margin-top: 10px;
  	margin-left: 25px;
  	border-radius: 90px;
}

.input:first-child {
    margin-top: 35px;
}

.button.button {
  width: 40%;
  height: 30px;
  background-color: #ffffff;
  border: 0;
  margin: 20px 0px 0px 15px;
  font-size: 15px;
  color: #242038;
  cursor: pointer;
  border-radius: 90px;
  transition-duration: 0.4s;
}

.button.button:hover {
  color: white;
  background-color: #242038;
}

.main_top{
	position: relative;
}

.login{
	background-image: linear-gradient(-225deg, #9067c6 0%,#8d86c9 100%);
	height: 200px;
	width: 250px;
	border-radius: 40px;
	float: right;  	
	position: absolute;
    right: 40px;
    bottom: 15px;
}

.slider-wrap{
	position: relative;
	width: 825px;
	top: -15px;
    left: 40px;
}

.slick-prev,
.slick-next {
	font-size: 0;
    position: absolute;
    color: #fff;
    border: 0;
    background-color: none;
    z-index: 1;
    top: 75px;
    cursor: pointer;
    background-color: transparent;
}
 
.slick-prev {
    left: 20px;
    background-image: url(../images/arrow_left.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    top: 85px;
}
 
.slick-prev:hover {
    background-image: url(../images/arrow_left.hover.png);
    left: 20px;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    top: 85px;
}
 
.slick-next {
    right: 20px;
    text-align: right;
    background-image: url(../images/arrow_right.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    top: 85px;
}
 
.slick-next:hover {
    background-image: url(../images/arrow_right_hover.png);
    right: 20px;
    text-align: right;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    top: 85px;
}


.main_in1, .main_in2, .main_in3{
	position: absolute;
	color: #242038;
}

.main_in1{
    top: 17px;
    left: 1250px;
    font-size: 25px;
}

.main_in2{
    top: 36px;
    left: 1765px;
    font-size: 25px;
}

.main_in3{
    top: 16px;
    right: 79%;
    font-size: 25px;
}

.text_box{
	background-color: white;
	opacity: 50%;
	padding: 30px;
}
