@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.header{
	display: none;
}
header{
	height: 145px;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}
header .admin_wrap{
	
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
header .admin_wrap .logo{
	height: 100px;
	float: left;
}
header .admin_wrap .menu{
    float: right;
    height: 100%;
    line-height: 145px;
}
header .admin_wrap .logo a{
   	margin: 30px 0;
    display: block;
    float: left;
    width: 212.5px;
    box-sizing: border-box;
}
header .admin_wrap .logo a img{
	height: 85px;
    width: 100%;
    display: block;
}
li{
	list-style: none;
}

nav {
	float: left;
	height: calc(100vh - 280px);
	font-size: 18px;
	font-family: 'Noto Sans KR', sans-serif;
}
nav .first{
	width:300px;
	height: calc(100vh - 280px);
	float: left;
	color: #242038;
	border-right: 1px solid #efefef;
	/*background-color: #242038;
*/
}
nav .first li{
    display: block;
    line-height: 100px;
    text-align: center;
}

nav .first li.on{
    background-color: #242038;
    color:#fff;
}
nav .first li span{
}

nav .second {
    box-shadow: 10px 0px 0px 0px rgb(239 239 239 / 50%);
    float: left;
    width: 200px;
    height: calc(100vh - 280px);
    text-align: center;
}
nav .third {
	float: left;
    padding: 0 100px;
    height: 100vh;
}
nav .second .menu ul{
	display: none;
}
nav .second .menu ul li{
	line-height: 100px;
}
nav .second .menu .on{
	display: block;
    color: #242038;
}

nav .third .menu ul{
	display: none;
}

nav .third .menu .on{
	display: block;
}
nav .second .menu ul li.on {
	background-color: #242038;
    color: #fff;
}
section{
	height: calc(100vh - 325px);
}