@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
 	padding: 0;
  	margin: 0;
 }

 body{
	width: 100%;
	height: 100vh;
  	/*background-image: linear-gradient(90deg, #9067c6 25%, white 25%);*/
}
.signupwrap{
	width: 100%;
	height: 950px;
}

.title{
	padding-top: 50px;
	font-size: medium;
	color: #242038;
	margin-right: 150px;
}
#m_id,#pw,#pwchk,#m_nick,#name,#mail,#tel,#field{
	font-size: 12px;
	width: 310px;
	height: 50px;
	margin: 10px 5px 0px 100px;
	border-radius: 10px / 10px;
	border: 1px solid #242038;
	padding: 0px 30px;
	box-sizing: border-box;
}
.m_id{
	margin-left: 100px;
}
#pw,#pwchk,#name,#mail,#tel,#field{
	margin-right: 70px;
}
#id{
	margin-top: 5px;
}
#id,#nick{
	margin-left: 70px;
}
#field{
	margin-left: 100px;
}
#signupform{
	text-align: center;
	/* margin-top: 50%; */
	margin-top: 700px;
	/* margin-left: 100px; */
	width: 600px;
	margin: 0 auto;
}
.terms{
	text-align: center;
	margin-left: 155px;
	margin-top: 5px;
}
.terms_description{
	margin: 5px;
	border-radius: 10px / 10px;
	font-size: 14px;
	width: 308px;
	text-align: center;
}
.signup_status{
	margin: 5px;
}
.button {
  background-color: #9067c6;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px / 5px;
  width: 60px;
  height: 30px;
  
}
.button1 {
	background-color: #9067c6;
	color: white;
	margin-right: 0px;
}
.button1:hover {
  color: 242038;
  background-color: #cac4ce;
}
.id_status_alert{
	color: red;
	margin-left: 50px;
}
.button2 {
  width: 313px;
  /* margin-right: 150px; */height:40px;
  background-color: #9067c6;
  color: white;
  margin-left: 10px;
  margin: 5px;
  font-size: 15px;
  border-radius: 10px 10px;
}
.button2:hover {
  color: 242038;
  background-color: #cac4ce;
}
#agreement{
	font-size: 13px;
	float: left;
	margin-left: 160px;
}
.signup_btn{
	text-align: left;
	margin-left: 155px;
}
