@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a { text-decoration: none; }

.wrap{
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	border-bottom: 1px solid #cac4ce;
}

#top_logo{
	display: block;
    height: 100%;
}

.top{
	padding-top: 15px;
	height: 25px;
	position: relative;
}

.top_login{
    height: 100%;
    float: right;
    color: #242038;
}

.top_login a{
	color: #242038;
	font-size: 14px;
}
.top ul{
    height: 100%;
    float: right;
}
.top ul li{
	float: left;
}

.logo{
	height: 85px;
	float: left;
}
.logo img{
    display: block;
    height: 100%;
}
#top_search_form{
    line-height: 90px;
    position: relative;
}
.search-btn{
    width: 25px;
    height: 25px;
    background-image: url(../images/glass_icon.png);
    background-position: center;
    border: 0;
    position: absolute;
    background-size: 100% 100%;
    background-color: transparent;
    cursor: pointer;
    top: 50%;
    right: 2%;
    transform: translateY(88%);
}
.main_search{
	box-sizing: border-box;
    border-radius: 90px;
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding: 0px 70px 0px 30px;
    outline: none;
    border: none;
    outline-style: solid;
    outline-color: #9067c6;
    margin-top: 15px;
    width: 300px;
}
#menu:hover::after {
	content: '';
    display: block;
    width: 100%;
    padding: 0px 25px;
    height: 2px;
    position: absolute;
	transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    background: #9067c6;
} 
#menu{
	font-weight: 600;
	margin: 0px 25px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    color:#242038;
    transition-duration: 0.4s;
    margin-top: 5px;
    position: relative;
}
#menu:first-child{
	margin-left: 50px;
}
#bottom2{
	height: 85px;
    margin: 15px 0;
    font-size: 17px;
}
.header .wrap .top .top_login a{
	margin-left: 10px;
	float: left;
	
}
.header .wrap .top .top_login .underline{
	
}
.header .wrap .top .top_login .underlinee{
	margin-left: 15px;
}
.header .wrap .top .top_login .alarm{
	position: relative;
	cursor: pointer;
	
}
.header .wrap .top .top_login img{
	width: 18px;
}
.header .wrap .top .top_login .alarm .alarm_cnt{
	font-size: 10px;
    position: absolute;
    vertical-align: middle;
    right: -8px;
    background-color: purple;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    text-align: center;
	
}
.header .wrap .top .top_login a b{
	margin-left: 5px;
	
}
.header .wrap .top #dpTime{
	float: left;
    font-size: 12px;
}
#quick input{
	float: right;
    font-size: 13px;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
    margin: 0;
    background: 0;
	
}
#quick .con{
	    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #efefef;
}
#quick{
	display: none;
	
}
#quick.on{
	display: block;
    border: 1px solid #cac4ce;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    top: 40px;
    font-size: 13px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 300px;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}