@charset "UTF-8";

.title{
    box-sizing: border-box;
    margin-bottom: 50px;
    line-height: 50px;
}
.title span{
    display: block;
    width: 100px;
    margin-top: 39px;
    height: 1px;
    box-sizing: border-box;
    border-top: 5px solid #242038;
}
.title p{
	font-size: 30px;
}

.infoupdate{
float: left;
}
label{
	display: block;
}
.profile{
	width: 250px;
    float: left;
    height: 300px;
    margin-right: 50px;
}
.info{
    float: left;
}
input[type="button"]{
	display: block;
}
.infoupdate{
float: left;
}
label{
	display: block;
}
.profile{
	width: 250px;
    float: left;
    height: 300px;
    margin-right: 50px;
}
.info{
    float: left;
}
input[type="button"]{
	display: block;
}
.content ul li{
	float: left;
	display: block;
	border: 2px solid #242038;
	border-right: 0;
}
.content ul li:last-child{
	border-right: 2px solid #242038;
}
.content ul{
	height: 50px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.9);
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 1200px;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:50%; opacity:0} 
  to {top:50%; opacity:1}
}

@keyframes animatetop {
  from {top:50%; opacity:0}
  to {top:50%; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
	/*
  padding: 2px 16px;
   background-color: #5cb85c;
  color: white;*/
}

.modal-body {padding: 2px 16px;}

.modal-footer {
	/*
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;*/
}