@charset "UTF-8";

.title{
    box-sizing: border-box;
    margin-bottom: 50px;
    line-height: 50px;
}
.title span{
    display: block;
    width: 100px;
    margin-top: 39px;
    height: 1px;
    box-sizing: border-box;
    border-top: 5px solid #242038;
}
.title p{
	font-size: 30px;
}
.content{
    width: 900px;
}

.infoupdate{
float: left;
}
label{
	display: block;
}
.profile{
	width: 250px;
    float: left;
    height: 300px;
    margin-right: 50px;
}
.info{
    float: left;
}
input[type="button"]{
	display: block;
}
.infoupdate{
float: left;
}
label{
	display: block;
}
.profile{
	width: 250px;
    float: left;
    height: 300px;
    margin-right: 50px;
}
.info{
    float: left;
}
input[type="button"]{
	display: block;
}
.content ul li{
	float: left;
	display: block;
	border: 2px solid #242038;
	border-right: 0;
}
.content ul li:last-child{
	border-right: 2px solid #242038;
}
.content ul{
	height: 50px;
}